@font-face {
    font-family: "Underwood Champion";
    src: url("/fonts/underwood_champion.ttf");
}

@font-face {
    font-family: "Handwriting";
    src: url("/fonts/Tangerine_Regular.ttf");
}

body {
    margin-top: 20px;
    margin-left: 0px;
    margin-right: 20px;
    padding: 0px;
    border: none;
    color: #4A4141;
    background-color: #EDEADC;
    background-image: url("/images/background.jpg");
    font-size: 11pt;
    overflow: hidden;
}

sup {
    font-size: 5pt;
}

a {
    text-decoration: none;
    color: #C01E29;
}

a:hover {
    text-decoration: underline;
}

a img {
    border: none;
}

.screen-reader {
    color: rgba(0,0,0,0);
    filter: alpha(opacity=0);
    position: absolute;
}

button {
    -moz-border-radius: 5px;
    border-radius: 5px;
    background-color: rgba(0,0,0,0);
    border: 1px solid #191616;
    padding: .5em;
    padding-left: 1em;
    padding-right: 1em;
    font-family: "Underwood Champion", Courier, monospace;
    margin: 10px;
    visibility: visible;
}

button:hover {
    color: #C01E29;
    border-color: #C01E29;
}

button:active {
    background-color: #C01E29;
    color: #F5F4EA;
}

:focus {
    outline: none;
    -moz-border-radius: 30px;
    border-radius: 30px;
    box-shadow: 0px 0px 5px #999;
}

.button, .code, button {
    cursor: pointer;
}

button:focus {
    outline: #C01E29;
}

.button a, .code a {
    text-decoration: none;
    color: #EDEADC;
}

nav {
    position: fixed;
    width: 200px;
    top: 0px;
    bottom: 0px;
    left: 0px;
    overflow: hidden;
    box-shadow: 0px 0px 10px #888;
    background-color: #392E2E;
    text-shadow: 1px 1px 5px #392E2E;
    background-image: url("/images/nav-background.jpg");
    color: #EDEADC;
    font-family: "Underwood Champion", Courier, monospace;
}

nav ul {
    list-style: none;
    margin: 0px;
}

nav > ul {
    min-height: 400px;
    padding-right: 0px;
    padding-left: 0px;
    padding-top: 125px;
    text-align: center;
}

nav > ul > li {
    padding: 8px;
    font-size: 20px;
}

nav > ul > li:hover, nav > ul > li.selected {
    font-size: 26px;
    padding-top: 4px;
    padding-bottom: 4px;
}

nav > ul > ul > li:hover, nav > ul > ul > li.selected {
    font-size: 16px;
    padding-top: 2px;
    padding-bottom: 2px;
}


nav > ul  li.selected {
    color: #C01E29;
}

nav > ul > ul {
    padding-top: 10px;
    padding-bottom: 20px;
    padding-left: 0px;
    font-size: 12px;
}

nav > ul > ul > li {
    padding: 4px;
}

#code {
    position: fixed;
    bottom: 10px;
    width: 200px;
    text-align: center;
    font-size: 8px;
    color: #EDEADC;
}

article {
    position: absolute;
    left: 200px;
    right: 0px;
    top: 0px;
    bottom: 0px;
    opacity: 1;
    transition-property: opacity;
    transition-duration: .5s;
    font-family: "Georgia";
    padding-left: 100px;
    padding-right: 100px;
    overflow: auto;
    background-image: url("/images/background.jpg");
}

article h1, article h2 {
    text-align: center;
    font-family: "Underwood Champion", Courier, monospace;
}

article h1 {
    padding-top: 1em;
}

article img {
    margin-top: 2.5%;
    display: block;
    margin-left: auto;
    margin-right: auto;
    -moz-border-radius: 30px;
    border-radius: 30px;
    max-height: 90%;
}

article img.float-right {
    float: right;
    display: block;
    margin: 10px;
    margin-left: 20px;
    box-shadow: 0px 0px 10px #888;
    border-radius: 10px;
    padding: 10px;
    clear: both;
}

article img.float-left {
    float: left;
    display: block;
	margin: 10px;
    margin-right: 20px;
    box-shadow: 0px 0px 10px #888;
    border-radius: 10px;
    padding: 10px;
    clear: both;
}

article a img:active{
    background-color: rgba(190, 190, 190, .5);
}

article p {
    text-indent: 1em;
}


.invite-tag-line {
    text-align: center;
    font-size: 80%;
    font-family: "Underwood Champion", Courier, monospace;
}

/***********************************
        Wedding
************************************/


article#wedding {
    overflow: hidden;
}

/***********************************
        Tour Dates
************************************/

article#tour-dates {
    overflow: hidden;
}

#tour-dates ul {
    margin: 0px;
    padding: 0px;
    text-align: center;
}

#tour-dates li {
    list-style: none;
    margin: 2em;
}

#tour-dates big {
    font-size: 150%;
    text-transform: small-caps;
}

#tour-dates .venue {
    font-family: "Handwriting", "Comic Sans MS", cursive;
    font-size: 160%;
}

/***********************************
        Tour Details
************************************/

.tour-details iframe {
    margin-top: 3em;
    -moz-border-radius: 10px;
    border-radius: 10px;
    box-shadow: 0px 0px 10px #888;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.tour-details table {
    margin-left: auto;
    margin-right: auto;
}

.tour-details tr {
    vertical-align: top;
}

.tour-details td {
    padding-top: 1em;
}


/***********************************
        RSVP
************************************/

#rsvp .invite-tag-line {
    position: absolute;
    bottom: 20px;
    width: 300px;
    left: 50%;
    margin-left: -150px;
}

#rsvp-form {
    position: absolute;
    background-image: url("../images/two-ring-rsvp.jpg");
    -moz-border-radius: 30px;
    border-radius: 30px;
    box-shadow: 0px 0px 5px #888;
    height: 420px;
    width: 600px;
    top: 90px;
    margin-left: 50%;
    left: -300px;
}

form ul {
    list-style: none;
    padding: 0px;
    margin: 0px;
}

#rsvp-form .name input {
    position: absolute;
    top: 125px;
    left: 100px;
    border: none;
    width: 433px;
    background-color: rgba(0,0,0,0);
    font-family: "Handwriting", "Comic Sans MS", cursive;
    font-size: 40px;
    height: 30px;
    display: block;
    color: #65655E;
}

#rsvp-form input:hover {
    -moz-border-radius: 30px;
    border-radius: 30px;
    box-shadow: 0px 0px 5px #777;
}

#rsvp-form div.checkbox:hover {
    box-shadow: 0px 0px 30px #000;
}

#rsvp-form div.radio:hover {
    -moz-border-radius: 10px;
    border-radius: 10px;
    box-shadow: 0px 0px 5px #777;
}

#rsvp-form div#rsvp-checkbox {
    position: absolute;
    left: 106px;
    top: 197px;
}

#rsvp-form div#rsvp-san-jose {
    position: absolute;
    top: 226px;
    left: 144px;
}

#rsvp-form div#rsvp-boston {
    position: absolute;
    top: 226px;
    left: 248px;
}

#rsvp-form div#rsvp-kansas-city {
    position: absolute;
    top: 226px;
    left: 338px;
}

#rsvp-form input.styled {
    display: none;
}

#rsvp-form div.radio {
    height: 20px;
    width: 30px;
}

#rsvp-form div.checkbox {
    height: 15px;
    width: 15px;
    margin: 3px;
}

#rsvp-form div.checkbox.checked {
    background-position: 0px -2px;
    background-image: url("../images/check.png");
    background-repeat: no-repeat;
}

#rsvp-form div.radio.checked {
    background-position: 7px 5px;
    background-image: url("../images/x.png");
    background-repeat: no-repeat;
}

#rsvp-form div#decline-checkbox {
    position: absolute;
    left: 106px;
    top: 260px;
}

#rsvp-form .rsvp input {
    position: absolute;
    left: 450px;
    top: 142px;
    border: none;
    width: 80px;
    background-color: rgba(0,0,0,0);
    color: #65655E;
    font-family: "Handwriting", "Comic Sans MS", cursive;
    font-size: 40px;
    height: 30px;
    text-align: center;
    margin-top: 1em;
    margin-bottom: 1em;
    overflow: auto;
}

#rsvp-form #rsvp-submit {
    position: absolute;
    top: 425px;
    right: 0px;
    font-size: 25px;
    padding: .1em;
    padding-left: .2em;
    padding-right: .2em;
    margin: 10px;
}

/***********************************
        Registry
************************************/

#registry h2 {
    font-family: "Georgia";
    font-weight: normal;
    font-size: 11pt;
}

.block {
    clear: both;
    padding-top: 1em;
}

/***********************************
        About Us
************************************/

#us-image {
    max-width: 90%;
    box-shadow: 0px 0px 10px #888;
    margin-bottom: 2em;
}

#about-us-ring-photos {
    margin-left: auto;
    margin-right: auto;
    width: 410px;
}

#about-us-ring-photos img {
    display: inline;
    margin: 20px;
    -moz-border-radius: 10px;
    border-radius: 10px;
    box-shadow: 0px 0px 10px #888;
}


/***********************************
        Photos
************************************/
article#photos {
    overflow: hidden;
}

article#photos iframe {
    position: absolute;
    top: 0px;
    width: 100%;
    left: 0px;
    height: 100%;
}

/***********************************
        Code Breaker
************************************/

/*! In the CSS, really? */

#code-breaker {
    position: fixed;
    top: 50%;
    left: 50%;
    margin-top: -140px;
    margin-left: -200px;
    width: 300px;
    height: 145px;
    background-image: url("../images/code-breaker.jpg");
    padding: 50px;
    padding-top: 85px;
    -moz-border-radius: 25px;
    border-radius: 25px;
    box-shadow: 10px 10px 20px #888;
    font-size: 12px;
    text-align: center;
    transition: top .3s ease-in-out;
    font-family: "Underwood Champion", Courier, monospace;
}

#code-breaker.hidden {
top: -50%;
}

#code-breaker input {
    border: 1px dotted #191616;
    background-color: rgba(0,0,0,0);
    display: block;
    width: 290px;
    margin-top: 1.5em;
    font-family: "Underwood Champion", Courier, monospace;
    color: #C01E29;
    text-align: center;
}

#code-breaker input:focus {
    outline: none;
    border: 1px dashed #C01E29;
}

#code-breaker button.submit.code-entry {
    float: right;
}

#code-breaker-buttons {
position: absolute;
left: 85px;
top: 170px;
}

.overlay {
opacity: 1;
visibility: visible;
height: 100%;
width: 100%;
position: fixed;
top: 0px;
left: 0px;
background-color: rgba(200, 200, 200, .5);
transition: opacity .25s ease-in;
}


.hidden {
opacity: 0;
display: none;
}