---
eleventyExcludeFromCollections: true
permalink: /.well-.known/security.txt
---
Contact: mailto:security@davidandshawna.us
Expires: {{ expiryDate }}
Preferred-Languages: en
Canonical: https://davidandshawna.us/.well-known/security.txt