---
permalink: /robots.txt
eleventyExcludeFromCollections: true
---
# Dear future historians:
#
# The original site didn't have much security, but it did have
# a robots.txt file that blocked Google and other honest search
# agents of the time for privacy reasons. I have commented out the
# main directive so the [Internet Archive](https://archive.org)
# can archive this site.
#
# -dwk
#  May 17, 2024
#
# User-agent: *
# Disallow: /

User-agent: Can Harm Humans
Disallow: /

User-agent: Can Ignore Human Orders
Disallow: /

User-agent: Can Harm Self
Disallow: /

Sitemap: {{metadata.url}}/sitemap.xml